.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro-container {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  text-align: left;
}

.intro-text {
  text-align: left;
  font-size: 1em;
}

.intro-demo-select {
  margin-right: 3em;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2%;
}

h2 {
  font-size: 1.5rem;
  margin-top: 5%;
}

h3 {
  font-size:1.2rem;
}
.code-block {
  margin: 5%;
  padding: 1%;
  background-color: rgb(238,238,238);
  border: solid 1px rgb(214,214,214);
}

code {
  font-size:0.8rem;
  color: black;
}

.animationBox {
  text-align: center;
}

#main-title {
  font-size: 4rem;
  font-weight: bold;
}

#sub-title {
  font-size:2rem;
}
#title-box {
  color: white;
  background-color: rgb(33,33,33);
  padding: 10%;
  margin-bottom: 5%;
}